@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace drgndrop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="undefined">

    <meta property="og:url" content="https://drgndrop.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Drgndrop">
    <meta property="og:description" content="FOSS privacy focused file sharing platform">
    <meta property="og:image" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="drgndrop.me">
    <meta property="twitter:url" content="https://drgndrop.me">
    <meta name="twitter:title" content="Drgndrop">
    <meta name="twitter:description" content="FOSS privacy focused file sharing platform">
    <meta name="twitter:image" content="">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="drgndrop.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>