@page "/home"
@using drgndrop;
@inject IWebHostEnvironment Environment
@inject NavigationManager NavManager
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="container-fluid">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl suscipit adipiscing bibendum est ultricies integer. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Posuere sollicitudin aliquam ultrices sagittis orci. Cras sed felis eget velit. Commodo ullamcorper a lacus vestibulum sed arcu. Non tellus orci ac auctor augue mauris augue neque gravida. Nisl nunc mi ipsum faucibus vitae. Molestie nunc non blandit massa enim. Nibh ipsum consequat nisl vel pretium. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Neque egestas congue quisque egestas. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Orci phasellus egestas tellus rutrum tellus pellentesque. Sed odio morbi quis commodo odio aenean sed. Arcu non odio euismod lacinia at quis risus sed vulputate. Justo nec ultrices dui sapien eget mi proin sed libero.

Sit amet risus nullam eget felis. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Mi eget mauris pharetra et ultrices neque ornare. Id neque aliquam vestibulum morbi. Adipiscing elit pellentesque habitant morbi tristique. Et netus et malesuada fames ac turpis egestas maecenas. Vitae tempus quam pellentesque nec nam aliquam sem et. Venenatis a condimentum vitae sapien. Ipsum suspendisse ultrices gravida dictum fusce ut. Egestas purus viverra accumsan in nisl nisi scelerisque eu. Augue mauris augue neque gravida in. Vitae justo eget magna fermentum iaculis. Vel risus commodo viverra maecenas accumsan lacus vel.

Felis eget nunc lobortis mattis. Magna etiam tempor orci eu lobortis. Cras fermentum odio eu feugiat pretium nibh ipsum. Facilisis gravida neque convallis a cras semper. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. Netus et malesuada fames ac turpis egestas. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Vitae aliquet nec ullamcorper sit amet. Arcu dui vivamus arcu felis. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Tortor id aliquet lectus proin nibh nisl condimentum id. Blandit libero volutpat sed cras ornare arcu.

Suscipit adipiscing bibendum est ultricies integer quis. Ut pharetra sit amet aliquam id diam. Justo laoreet sit amet cursus sit amet dictum sit amet. Sagittis orci a scelerisque purus semper eget duis at. Elit pellentesque habitant morbi tristique senectus et netus. Id diam maecenas ultricies mi eget. Velit scelerisque in dictum non consectetur. Enim tortor at auctor urna nunc id cursus metus aliquam. Tortor pretium viverra suspendisse potenti nullam. Ac ut consequat semper viverra nam libero justo. In ante metus dictum at tempor commodo ullamcorper a. Velit dignissim sodales ut eu.

Porta lorem mollis aliquam ut. Amet nisl purus in mollis nunc sed. Mattis pellentesque id nibh tortor id aliquet lectus proin. Rhoncus aenean vel elit scelerisque mauris. Est velit egestas dui id. Dignissim cras tincidunt lobortis feugiat vivamus at. Scelerisque varius morbi enim nunc. Et tortor consequat id porta nibh venenatis cras. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Odio ut sem nulla pharetra diam sit. Sit amet venenatis urna cursus eget.
</div>
